h1, h2 {
	text-align: center;
	color: var(--secondary-text-color);

	padding: 10px 0;
	margin-bottom: 20px;
}

p {
	padding: 10px 0;
}

#big-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: calc(100% - 40px);
	height: auto;

	padding: 20px;
	padding-bottom: 60px;
}

#article-container {
	width: min(60%, 400px);
}

#activator {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary-color);

	width: calc(100% - 10px);
	height: 60px;

	padding: 5px;

	border-radius: .4rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: var(--secondary-text-color);

	transition-property: filter;
	transition-duration: 150ms;
	transition-timing-function: linear;
}

#activator:hover {
	filter: brightness(1.1);
}

.sections {
	padding-top: 150px;
}

@media only screen and (max-width: 800px) {
	#article-container {
		width: 100%;
	}
}
