<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=10.0, minimum-scale=.75, user-scalable=yes"/>
		<meta name="description" content="Track of how far I've come."/>

		<link rel="stylesheet" href="/res/css/includes/default.css">
		<link rel="stylesheet" href="/res/css/views/home.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="module" src="/res/js/views/home.js"></script>

		<title>Nweter</title>
	</head>
	<body>
		<div id="big-container">
			<article id="article-container">
				<section id="header" class="sections">
					<h1>Portfolio</h1>
					<p>This is a portfolio for the Polytechnic Early Admissions Exercise</p>
					<p>For the following courses:</p>
					<ul>
						<li>Applied AI & Analytics (C43)</li>
						<li>Applied AI and Analytics (DAAA - S30)</li>
						<li>Immersive Media & Game Development (T58)</li>
					</ul>
				</section>
				<section id="aboutme" class="sections">
					<h2>About me</h2>
					<p>Hi! I'm Cheng Hock though I prefer to go by Jayden. I spent majority of my time either studying or writing code. The sense of accomplishment upon each successful feature push can never be described.</p>
					<p>Oftentimes, I like 'reinventing the wheel'. I feel rather uneasy not having fine grain control over the modules or libraries I use. Hence whenever possible I could see myself investing my time into creating something that personally works for me.</p>
				</section>
				<section id="continue" class="sections">
					<h2>Continue</h2>
					<p>Let me take you on a journey back in time!</p>
					<button id="activator">Time machine</button>
				</section>
			</article>
		</div>
	</body>
</html>